<div class="row">
  @if(isLoading) {
  <div class="col-12 text-center display-1 pt-4">
    <div class="spinner-border text-success"></div>
  </div>
  } @else {
    @for (item of designationList; track item.designationId) {
    <div class="col-3">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">{{ item.designation }}</h4>
          <a href="#" class="card-link">Edit</a>
          <a href="#" class="card-link">Delete</a>
        </div>
      </div>
    </div>
  } 
}
</div>
